/* base */
@import '../base/base.css';
@import '../base/layout.css';

/* vendors */

/* components */
@import '../components/button.css';

/* CUSTOM CSSS */

/* 

.red {
}

*/

.hero {
    min-height: 100vh;
    background-image: url(../../img/background.png);
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: cover;
    background-attachment: fixed;
    
}

.hero > .row-short {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.logo {
    width: 100%;
    height: 50px;
    object-fit: contain;
      
}

.main-title {
    text-align: center;
    font-size: 70px;
    text-transform: uppercase;
    letter-spacing: -5px;

}

.main-description {
    text-align: center;
    font-size: 20px;

}